<!DOCTYPE html>
<html lang="en">
    {% include '../base/head.twig' %}

    <body>
        <div class="svg-defs">
            {% include '../../assets/svg-defs.svg' %}
        </div>

        <!-- Content -->
        <main role="main" class="{{ (isLogin) ? 'login' : 'dashboard' }}">
            {% block content %}
            {% endblock %}
        </main>

        <!-- JavaScript -->
        <script src="/js/app.min.js"></script>
    </body>
</html>
