// Base
// ------------------------
*,
*:before,
*:after {
    box-sizing: border-box;
}

::selection {
    color: $white;
    background-color: $secondary;
}

html {
    @if $enable-debugging {
        @include debug-breakpoints;
    }

    &.is-froze,
    &.is-froze body {
        overflow: hidden;
    }

    .header,
    .section--login-hero .hero__content,
    // .section--login-hero .hero__image,
    .footer {
        opacity: 1;
        transition: opacity 0.5s ease-in-out,
                    transform 0.5s ease-in-out,
                    margin 0.5s ease-in-out;
    }

    &.transition--login {
        .header,
        .section--login-hero .hero__content,
        .footer {
            opacity: 0;
        }

        .header {
            transform: translateY(-100px);
        }

        .section--login-hero .hero__content {
            transform: translateX(-100px);
        }

        .section--login-hero .hero__image {
            .logomark {
                img {
                    animation: {
                        delay: 0;
                        direction: reverse;
                        duration: 0.5s;
                        fill-mode: both;
                        iteration-count: 1;
                        timing-function: $ease-in-out-back;
                    }
                }
            }

            .logomark--top {
                img {
                    animation-name: slide-fade-down-bounce-out;
                }
            }

            .logomark--bottom {
                img {
                    animation-name: slide-fade-up-bounce-out;
                }
            }
        }

        .footer {
            transform: translateY(100px);
        }
    }
}

body {
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $secondary;
    min-width: $min-width;
    background-color: #fdfdfd;
    overflow-x: hidden;
}

main {
    overflow-x: hidden;
    display: block;
}
