// Tables
// ------------------------
.table {
    width: 100%;
    max-width: 100%;
}

table {
    margin-bottom: 1rem;

    tr {
        border-bottom: 1px solid $gray-ultralight;
        transition: background 0.3s ease-in-out;
    }

    th,
    td {
        padding: 0.5rem 1rem;
        text-align: left;
    }

    th {
        font-weight: $font-weight-bold;
    }

    tfoot {
        border-top: 1px solid $gray;

        td {
            text-align: left;
        }
    }
}

// Hover table
.table--hover {
    tbody {
        tr:hover {
            background-color: rgba($secondary-ultralight, 0.5);
        }
    }
}

// Alternating color table
.table--alt {
    tr {
        border: none;
    }

    tbody {
        tr:nth-of-type(odd) {
            background-color: $gray-ultralight;
        }
    }

    &.table--hover {
        tbody {
            tr:hover {
                background-color: rgba($secondary-ultralight, 0.5);
            }
        }
    }
}

// Full width table
.table--full {
    width: 100%;
}

// Paged table
.table--paged {
    tfoot {
        td {
            &:last-of-type {
                text-align: right;
            }
        }
    }

    .summary {
        td:first-of-type {
            text-align: right;
        }
    }
}

.tradeStatistics {
    transition: opacity .5s ease;

    .quote {
        background-color: $white !important;
        border-bottom: none;
        border-top: 2px solid rgb(207, 207, 207);
        margin-top: 1rem;
    }
}
