// Typography
// ------------------------

// General
// ------------------------
i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: $font-weight-bold;
}

small {
    display: inline-block;
    font-size: 0.75rem;
    color: $secondary-ultralight;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    margin-bottom: 1rem;
    font-weight: $font-weight-regular;
    @include r-font-size(rem-calc(14), rem-calc(18));
    line-height: 1.75;

    .text-small & {
        @include r-font-size(rem-calc(13), rem-calc(16));
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    a {
        text-decoration: underline;
    }
}

a {
    color: $primary;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: $secondary;
    }
}

// Link arrow buttons
.link--arrow {
    $arrow-spacing: 0.5rem;
    display: inline-block;
    position: relative;
    padding-right: $arrow-spacing;
    // text-transform: uppercase;
    text-decoration: none;
    color: $primary;
    font-size: 0.875rem;
    font-weight: $font-weight-bold;

    &:before,
    &:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 100%;
        width: 12px;
        height: 8px;
        @include full-bg;
        background-image: url('../img/icon-arrow.svg');
        transition: 0.3s ease-in-out;
        transform: translate(0, -50%);
    }

    &.link--arrow-white {

        &:before,
        &:after {
            background-image: url('../img/icon-arrow-white.svg');
        }
    }

    &:after {
        content: '';
        // margin-left: $arrow-spacing;
    }

    &.link--arrow-left {
        padding-right: 0;
        padding-left: $arrow-spacing;

        &:after {
            content: '';
            // margin: 0;
        }

        &:before {
            content: '';
            transform: translate(0, -50%) rotate(180deg);
            // margin-right: $arrow-spacing;
        }
    }

    &:hover {
        color: $primary;

        &:after {
            transform: translate($arrow-spacing/2, -50%);
        }

        &:before {
            transform: translate(-($arrow-spacing/2), -50%) rotate(180deg);
        }
    }
}


// Headings
// ------------------------
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.display-1,
.display-2 {
    margin: 0 0 0.5rem 0;
    color: $secondary;
    font-family: $font;
    line-height: 1.2;

    &.divider {
        position: relative;
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 50px;
            height: 4px;
            background-color: $primary;
            transform: translateY(-50%);
        }
    }

    &.divider--center {
        &:after {
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
    }
}

h1,
.h1,
h2,
.h2,
h4,
.h4 {
    font-weight: $font-weight-bold;
}

h1,
.h1,
h2,
.h2,
.display-1,
.display-2 {
    letter-spacing: -1px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: $secondary-light;
}

h3,
.h3,
h5,
.h5,
h6,
.h6 {
    font-weight: $font-weight-regular;
}

h1,
.h1 {
    @include r-font-size(rem-calc(34), rem-calc(63));
}

h2,
.h2 {
    @include r-font-size(rem-calc(30), rem-calc(52));
}

h3,
.h3 {
    @include r-font-size(rem-calc(24), rem-calc(30));
}

h4,
.h4 {
    @include r-font-size(rem-calc(14), rem-calc(20));
}

h5,
.h5 {
    @include r-font-size(rem-calc(16), rem-calc(18));
}

h6,
.h6 {
    font-size: rem-calc(16);
}

.display-1,
.display-2 {
    color: $black;
    font-weight: $font-weight-bold;
}

.display-1 {
    @include r-font-size(rem-calc(30), rem-calc(56));
}

.display-2 {
    @include r-font-size(rem-calc(22), rem-calc(38));
}


// Blockquotes
// ------------------------
q,
blockquote {
    display: block;
    padding: 2rem 0;
    font-weight: $font-weight-bold;
    @include r-font-size(rem-calc(16), rem-calc(22));

    *:last-child {
        margin-bottom: 0;
    }
}


// Code
// ------------------------
pre,
code {
    margin: 0;
    direction: ltr;
    font-family: $font-mono;
    color: $gray-ultradark;
    text-align: left;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1.5;
    text-decoration: none;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    hyphens: none;
    background: $gray-ultralight;
    border-radius: 3px;

    .comment {
        color: $gray;
    }
}

pre {
    padding: 1rem;
    overflow: auto;
}

:not(pre)>code {
    padding: 0.5rem;
    white-space: normal;
}


// Misc
// ------------------------
hr {
    height: 1px;
    margin: 2rem 0;
    border: 0;
    background-color: rgba($secondary-ultralight, 0.5);
}

.arm {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    // z-index: -1;

    .no-supports & {
        display: none !important;
    }

    &.arm--left {
        .arm__position {
            transform: scaleX(-1);
        }

        &.arm--curved-up {
            .arm__position {
                transform: scale(-1, -1);
            }
        }
    }

    &.arm--curved-up {
        .arm__position {
            transform: scaleY(-1);
        }
    }
}

.arm__position {
    width: 20px;
    height: 20px;
}

.arm__main {
    position: absolute;
    left: 0;
    width: 153px;
    height: 20px;
    background-image: url(../img/dot-line.svg);

    .arm--curved & {
        width: 125px;
        height: 35px;
        background-image: url(../img/dot-curve.svg);
    }
}

.arm__extra {
    position: absolute;
    top: 50%;
    left: 95%;
    width: 80vw;
    height: 3px;
    background-color: #eaecee;
    transform: translateY(-50%);

    .arm--curved & {
        top: 74%;
        left: 95%;
        transform: rotate(45deg);
        transform-origin: 0 0;
    }
}