<div class="dashboard__header">
    <div class="dashboard__header-search">
        <input type="search" placeholder="Search the app...">
    </div>

    <ul class="dashboard__header-right">
        <li>
            <button class="dashboard__header-action dashboard__header-action--notifications">
                <svg class="icon icon-top-bar-notifications-active" aria-hidden="true">
                    <use xlink:href="#icon-top-bar-notifications-active"></use>
                </svg>
                <div class="hide-vis">Notifications</div>
            </button>
        </li>

        <li>
            <button class="dashboard__header-action dashboard__header-action--templates">
                <svg class="icon icon-top-bar-templates" aria-hidden="true">
                    <use xlink:href="#icon-top-bar-templates"></use>
                </svg>
                <div class="hide-vis">Templates</div>
            </button>
        </li>

        <li>
            <button class="dashboard__header-action dashboard__header-action--help">
                <svg class="icon icon-top-bar-help" aria-hidden="true">
                    <use xlink:href="#icon-top-bar-help"></use>
                </svg>
                <div class="hide-vis">help</div>
            </button>
        </li>
    </ul>
</div>
