<div id="modal-preview-json" class="modal modal--preview-json">
    <div class="modal__content">
        <div class="modal__header">
            <button class="modal__close" data-modal-close><span class="hide-vis">Close</span></button>

            <div class="content">
                <div class="left">
                    <h1>501135-501132-171119.json</h1>
                </div>

                <div class="right">
                    <button class="btn btn--green btn--download">Download</button>
                </div>
            </div>
        </div>

        <div class="modal__preview">
            <pre><code>Contract:
ReferenceNumber:"501135-501132-171119"
Date:"Sun Jun 17 2018 05:17:41 GMT-0500"
Seller:
    Name:"Allenberg Cotton Co"
    Addresses:
        Item:
            0:
                AddressStreet1:"7255 Goodlett Farms Parkway"
                Town:"CORDOVA"
    Telephone:"1 901 383 5000"
    Fax:"1 901 383 5010"
Buyer:
    Name:"Abeni Surveyors Ltda"
    Addresses:
        Item:
        0:
            AddressStreet1:"Avenida Conselheiro Nebias"
            AddressStreet2:"Nr.532 - sala 62"
            Town:"Santos"
    Telephone:"55 13 3213 1700"
    Fax:"55 133 216 1443"
Specifications:
    CropYear:"2018"
    MinMicronaire:0
    MaxMicronaire:0
Pricing:
    PriceType:"On Call"
    IsProvisional:false
    UnitPrice:87.5
    PriceBase:"c/lb"
    PricePoints:0
    FixationCallYear:0
Terms:
    ShipmentPeriods:
        Shipment:"March 2018"
    Quantity:
        ContractedUnits:2000
        QuantityType:"Metric Tons"
        VariationPercent:0</code></pre>
        </div>
    </div>
</div>
