{% extends '../partials/base/_layout.twig' %}

{% block content %}

{% include '../partials/dashboard/main-nav.twig' %}

<section class="dashboard__top-bar">
    {% include '../partials/dashboard/top-bar.twig' %}
</section>

<section class="dashboard__content">
    <div class="contracts__content">
        <div class="dashboard__top">
            <div class="left">
                <h1>Contracts</h1>
                <h2>You have 21 contracts.</h2>
            </div>

            <div class="right">
                <a href="/contract-new.html" class="btn btn--green">New Contract</a>
            </div>
        </div>

        <div class="dashboard__middle">
            {% include '../partials/dashboard/table-filters.twig' %}
            {% include '../partials/dashboard/table-pagination.twig' %}
        </div>

        <div class="dashboard__bottom">
            <table class="table table--dashboard table--contracts">
                <thead>
                    <tr>
                        <th><div class="form-field form-field--dashboard form-field--checkbox"><label class="form-field__checkbox"><input type="checkbox" value="val1"> <span></span></label></div></th>
                        <th>Reference Number</th>
                        <th>Blockchain Status</th>
                        <th>Counterparty</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Shipment Date</th>
                        <th>Status</th>
                        <th><div class="hide-vis">Actions</div></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td><div class="form-field form-field--dashboard form-field--checkbox"><label class="form-field__checkbox"><input type="checkbox" value="val1"> <span></span></label></div></td>
                        <td><button class="expand-row" data-expand-table-row>501135-501132-171119</button></td>
                        <td>Syncing</td>
                        <td>Allenberg Cotton Co</td>
                        <td>Sale</td>
                        <td>1000 Metric Tons</td>
                        <td>87.5 c/lb</td>
                        <td>06/23/18</td>
                        <td class="active">Active</td>
                        <td>{% include '../partials/misc/table-actions.twig' %}</td>
                    </tr>

                    <tr class="content">
                        <td></td>
                        <td>
                            <strong>Growth/Quality:</strong>
                        </td>
                        <td>
                            Crop Year: 2017<br>
                            Growth Origin: Grade: A++<br>
                            Staple: Yes<br>
                            Micronaire: 0 - 0 ()<br>
                            Strength GPT: Minimum
                        </td>
                        <td>
                            <strong>
                                Price/Terms:<br>
                                Quantity:<br>
                                Payment:<br>
                                Shipment:<br>
                                Freight:
                            </strong>
                        </td>
                        <td>
                            Filled Text<br>
                            Filled Text<br>
                            Filled Text<br>
                            Filled Text<br>
                            Filled Text
                        </td>
                        <td colspan="2">
                            <strong>
                                Insurance:<br>
                                Export Duty or Subsidy:<br>
                                Special Clauses:
                            </strong>
                        </td>
                        <td>
                            Filled Text<br>
                            Filled Text<br>
                            Filled Text
                        </td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td><div class="form-field form-field--dashboard form-field--checkbox"><label class="form-field__checkbox"><input type="checkbox" value="val1"> <span></span></label></div></td>
                        <td>501135-501132-171119</td>
                        <td>Up to date</td>
                        <td>Allenberg Cotton Co</td>
                        <td>Sale</td>
                        <td>1000 Metric Tons</td>
                        <td>87.5 c/lb</td>
                        <td>06/23/18</td>
                        <td class="closed">Closed</td>
                        <td>{% include '../partials/misc/table-actions.twig' %}</td>
                    </tr>

                    <tr>
                        <td><div class="form-field form-field--dashboard form-field--checkbox"><label class="form-field__checkbox"><input type="checkbox" value="val1"> <span></span></label></div></td>
                        <td>501135-501132-171119</td>
                        <td>Syncing</td>
                        <td>Allenberg Cotton Co</td>
                        <td>Purchase</td>
                        <td>1000 Metric Tons</td>
                        <td>87.5 c/lb</td>
                        <td>06/23/18</td>
                        <td class="active">Active</td>
                        <td>{% include '../partials/misc/table-actions.twig' %}</td>
                    </tr>

                    <tr>
                        <td><div class="form-field form-field--dashboard form-field--checkbox"><label class="form-field__checkbox"><input type="checkbox" value="val1"> <span></span></label></div></td>
                        <td>501135-501132-171119</td>
                        <td>Syncing</td>
                        <td>Allenberg Cotton Co</td>
                        <td>Sale</td>
                        <td>1000 Metric Tons</td>
                        <td>87.5 c/lb</td>
                        <td>06/23/18</td>
                        <td class="pending">Pending</td>
                        <td>{% include '../partials/misc/table-actions.twig' %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% include '../partials/modal/modal-preview-pdf.twig' %}

{% include '../partials/modal/modal-preview-json.twig' %}

{% endblock %}
