<div class="actions">
    <button class="actions__dots">
        <div class="hide-vis">Actions</div>
        <div class="dot"></div>
    </button>

    <ul class="actions__dropdown">
        <button>
            <svg class="icon icon-eye" aria-hidden="true">
                <use xlink:href="#icon-eye"></use>
            </svg>

            Open
        </button>

        <button data-modal="preview-pdf">
            <svg class="icon icon-document-pdf" aria-hidden="true">
                <use xlink:href="#icon-document-pdf"></use>
            </svg>

            View PDF
        </button>

        <button data-modal="preview-json">
            <svg class="icon icon-document-json" aria-hidden="true">
                <use xlink:href="#icon-document-json"></use>
            </svg>

            View JSON
        </button>

        <button>
            <svg class="icon icon-curved-arrow-outline" aria-hidden="true">
                <use xlink:href="#icon-curved-arrow-outline"></use>
            </svg>

            Share
        </button>

        <button>
            <svg class="icon icon-download" aria-hidden="true">
                <use xlink:href="#icon-download"></use>
            </svg>

            Download
        </button>

        <button>
            <svg class="icon icon-related" aria-hidden="true">
                <use xlink:href="#icon-related"></use>
            </svg>

            See Related
        </button>

        <div class="divider"></div>

        <button class="delete">
            <svg class="icon icon-trash" aria-hidden="true">
                <use xlink:href="#icon-trash"></use>
            </svg>

            Delete
        </button>
    </ul>
</div>
