/*
 ***********************
 *    IMPORT FONTS     *
 ***********************
*/
@import url("https://use.typekit.net/qrx4nlm.css");

/*
 ***********************
 * RESET AND NORMALIZE *
 ***********************
*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
main,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-align: center;
  line-height: 1.15;
  font-family: "runda", sans-serif;
}

img {
  border-style: none;
}

[hidden] {
  display: none !important;
}

[clear] {
  clear: both;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Box Model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 *****************
 * CSS VARIABLES *
 *****************
*/
:root {
  --blue-gray: #2B3D4F;
  --blue-gray-darker: #1C2D40;
  --active-gray: #606E7B;
  --passive-gray: #959EA7;
  --mustard: #9B7536;
  --hr-gray: #202E3C;
}

/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/
nav {
  background-color: var(--blue-gray);
  width: 215px;
  height: 100vh;
  padding: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: width .75s cubic-bezier(.25, .75, .05, 1);
}

nav .logo-wrapper {
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 23px;
}

.logo-wrapper img {
  left: 22px;
}

ul.navigation {
  padding-top: 62px;
}

ul.navigation li a {
  display: flex;
  align-items: center;
  padding: 1rem 5px 1rem 0;
  transition: background .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 65px;
  font-weight: bold;
  font-size: 14px;
  color: var(--passive-gray);
  letter-spacing: 1px;
  line-height: 65px;
  text-transform: uppercase;
  text-decoration: none;
  border-left: 5px solid transparent;
}

nav ul.navigation li a .nav-item {
  transform: scale(1);
  transition: opacity .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul.navigation li img {
  margin: 0 16px;
  opacity: .25;
  transition: opacity .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul.navigation li:first-of-type img {
  margin: 0 13px 0 20px;
}

ul.navigation li:nth-of-type(3) img {
  margin: 0 13px 0 16px;
}

ul.navigation li a:hover:not(:active) {
  opacity: 1;
}

ul.navigation li a:hover:not(:active) .nav-item,
ul.navigation li a:hover:not(:active, .active-item) img,
  {
  opacity: 1;
}

ul.navigation li a.active-item {
  background-color: var(--blue-gray-darker);
  border-left: 5px solid var(--mustard);
}

ul.navigation li a:active {
  color: var(--active-gray);
  background-color: var(--blue-gray-darker);
  border-left: 5px solid var(--mustard);
}

ul.navigation a.active-item .nav-item {
  color: var(--active-gray);
}

.block--account-info__drawer {
  background-color: var(--blue-gray-darker);
  padding: 0;
  width: 100%;
  transition: max-height .75s cubic-bezier(0.165, 0.84, 0.44, 1);
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  bottom: 83px;
}

.block--account-info:hover .block--account-info__drawer {
  max-height: 200px;
  pointer-events: auto;
}

ul.account-drawer {
  padding: 1rem;
}

ul.account-drawer li a {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  transition: color .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 14px;
  color: var(--passive-gray);
  text-decoration: none;
}

ul.account-drawer li:hover a {
  color: #fff;
}

.block--account-info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.block--account-info hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--hr-gray);
  margin: 0;
}

.block--account-info__inner {
  padding: 23px 25px;
  display: flex;
  cursor: pointer;
}

nav .block--account-info__inner img {
  width: 26.7px;
  margin-right: 15px;
  opacity: .25;
  transition: opacity .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.block--profile-info {
  text-align: left;
  display: block;
  position: relative;
}

p.user-name {
  color: var(--passive-gray);
  font-size: 14px;
  margin-bottom: 5px;
  transition: color .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

p.org-name {
  color: var(--passive-gray);
  font-size: 12px;
  transition: color .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.block--account-info__inner:hover img {
  opacity: 1;
}

.block--account-info__inner:hover p.user-name,
.block--account-info__inner:hover p.org-name {
  color: #fff;
}