// Animations
// ------------------------
@if $enable-animations {
    // Fade
    [data-fade] {
        opacity: 0;
        transition: transform 0.8s $ease-in-out-cubic,
                    opacity 1s $ease-in-out-cubic;
        will-change: opacity, transform;

        .inview &,
        &.inview {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    [data-fade="up"] { transform: translate3d(0, 50px, 0); }
    [data-fade="down"] { transform: translate3d(0, -50px, 0); }
    [data-fade="left"] { transform: translate3d(50px, 0, 0); }
    [data-fade="right"] { transform: translate3d(-50px, 0, 0); }

    // Clip
    [data-clip] {
        transition: 0.8s $ease-out-circ;
        will-change: clip-path;

        .inview &,
        &.inview {
            clip-path: inset(0 0 0 0);
        }
    }

    [data-clip="up"] { clip-path: inset(100% 0 0 0); }
    [data-clip="down"] { clip-path: inset(0 0 100% 0); }
    [data-clip="left"] { clip-path: inset(0 0 0 100%); }
    [data-clip="right"] { clip-path: inset(0 100% 0 0); }

    // Delay
    @for $i from 1 through 10 {
        [data-inview-delay="#{$i}"] {
            transition-delay: $i*0.1*1s;
        }

        [data-inview-duration="#{$i}"] {
            transition-duration: $i*0.1*1s;
        }
    }
}

[data-parallax] {
    will-change: transform;
}

@keyframes slide-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%); }
}

@keyframes slide-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}

@keyframes slide-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

@keyframes slide-fade-down {
    0% {
        opacity: 0;
        transform: translate(10%, -6%);
    }
    100% {
        opacity: 0.5;
        transform: translate(0, 0);
    }
}

@keyframes slide-fade-up {
    0% {
        opacity: 0;
        transform: translate(-10%, 6%);
    }
    100% {
        opacity: 0.5;
        transform: translate(0, 0);
    }
}

@keyframes slide-fade-down-bounce-out {
    0% {
        opacity: 0;
        transform: translate(10%, -6%);
    }
    100% {
        opacity: 0.5;
        transform: translate(0, 0);
    }
}

@keyframes slide-fade-up-bounce-out {
    0% {
        opacity: 0;
        transform: translate(-10%, 6%);
    }
    100% {
        opacity: 0.5;
        transform: translate(0, 0);
    }
}

// Full opacity
@keyframes slide-fade-down-full {
    0% {
        opacity: 0;
        transform: translate(10%, -6%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slide-fade-up-full {
    0% {
        opacity: 0;
        transform: translate(-10%, 6%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slide-fade-down-bounce-out-full {
    0% {
        opacity: 0;
        transform: translate(10%, -6%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes slide-fade-up-bounce-out-full {
    0% {
        opacity: 0;
        transform: translate(-10%, 6%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}
