.login {}

.login__left,
.login__right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

.login__left {
    left: 0;
    width: 65%;
    background-color: $primary;
    background-image: radial-gradient(50% 120%, #415365 50%, #1E2A36 100%);
    transition: 0.5s $ease-custom-login;
    z-index: 1;
    will-change: width;

    &.is-active {
        width: 100%;

        + * {
            opacity: 0.5;
            transform: scale(0.6);
        }

        .login__back {
            opacity: 1;
            visibility: visible;
        }
    }

    p {
        color: $primary-ultralight;
        font-size: rem-calc(11);

        a {
            color: $primary-ultralight;
            text-decoration: underline;
        }
    }
}

.login__right {
    overflow: hidden;
    right: 0;
    width: 35%;
    opacity: 1;
    transition: 0.5s $ease-custom-login;
    transform: scale(1);
    z-index: 0;
    will-change: transform;
}

.login__back {
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.login__centerer {
    width: 100%;
}

.login__logo {
    display: block;
    text-align: center;
    margin-bottom: 4rem;

    a {
        display: inline-block;
    }

    img {
        display: block;
    }
}

.login__actions-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.login__actions {
    display: block;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    will-change: transform, opacity, visibility;

    &.is-active {
        opacity: 1;
        visibility: visible;

        &.out {
            opacity: 0;
            visibility: hidden;
            transform: translateY(70px);
            transition: 0.5s $ease-custom-login;
        }
    }

    .action__column {
        width: 100%;
    }
}

.login__actions--main {
    display: flex;
    max-width: 650px;
    opacity: 0;
    transition: 0.25s $ease-custom-login;
    transform: translateY(70px);

    &.is-active {
        opacity: 1;
        transform: translateY(0);
    }

    .action__column {
        width: 43%;

        &:nth-of-type(2) {
            width: 14%;

            .divider {
                position: relative;
                top: 54px;
                text-align: center;
                font-size: rem-calc(14);

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    width: 1px;
                    height: 60px;
                    margin-left: -1px;
                    background-color: $primary-light;
                }

                &:before {
                    bottom: 125%;
                }

                &:after {
                    top: 125%;
                }
            }
        }
    }
}

.login__actions--main,
.login__actions--email {
    position: absolute;
}

.login__actions--email {
    .action__heading,
    .form-field,
    .btn,
    .action__helper,
    .action__other {
        opacity: 0;
        transition: 0.5s $ease-custom-login;
        transform: translateY(70px);
        will-change: transform, opacity;
    }

    &.is-active {
        .action__heading,
        .form-field,
        .btn,
        .action__helper,
        .action__other {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .form-field {
        transition-delay: 0.1s;
    }

    .form-field--password {
        transition-delay: 0.2s;
    }

    .btn,
    .action__helper {
        transition-delay: 0.3s;
    }

    .btn {
        float: right;
        margin-top: 0.5rem;
    }

    .action__other {
        transition-duration: 0.75s;
        transition-delay: 0.8s;
    }
}

.login__actions--uport {
    .action__heading,
    img,
    .action__other {
        opacity: 0;
        transition: 0.5s $ease-custom-login;
        transform: translateY(70px);
        will-change: transform, opacity;
    }

    &.is-active {
        .action__heading,
        img,
        .action__other {
            opacity: 1;
            transform: translateY(0);
        }
    }

    img {
        max-height: 350px;
        transition-delay: 0.25s;
    }

    .action__other {
        transition-duration: 0.75s;
        transition-delay: 0.5s
    }
}

.action__column {
    @include clearfix;
}

.action__heading {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: $primary-ultralight;
    text-align: center;
}

.action__helper {
    float: left;
    margin-top: 0.5rem;
}

.action__other {
    margin-top: 4rem;
    text-align: center;
}

.login__copyright {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;

    p {
        color: $primary-light;
    }
}

.login__intro {
    max-width: 400px;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;

    p {
        color: $primary-light;
    }
}

.login__intro-link {
    font-weight: $font-weight-bold;
    color: $green;

    &:not(:first-of-type) {
        margin-left: 0.5rem;
    }

    &:hover {
        color: $green-dark;

        path {
            fill: $green-dark;
        }
    }

    path {
        fill: $green;
        transition: 0.3s ease-in-out;
    }
}

.login__logos {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.login__logos--top {}
.login__logos--bottom {}

.login__logos-row {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    width: 300%;
    animation: {
        duration: 20s;
        iteration-count: infinite;
        timing-function: linear;
    }

    &:first-of-type {
        align-self: flex-end;
        padding-bottom: 3rem;
        animation-name: logo-slide-right;
    }

    &:last-of-type {
        animation-name: logo-slide-left;
    }
}

.login__logos-logo {
    width: 10%;
    flex-basis: 10%;

    img {
        display: block;
    }
}
