$button-gray: #CACED3;
$mint-green: #3EC9A0;
$passive-gray: #959EA7;

main {
  width: 100vw;
  height: 100vh;
}

section {
  background: #fff;
}

.section--login__main {
  height: 100%;
  display: flex;

  &-content {
    width: 100%;

    &__button-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 6rem;

      .wrapper__left,
      .wrapper__right {
        width: 45%;

        p {
          font-size: 11px;
          color: $passive-gray;
          letter-spacing: 0;
          text-align: center;
          margin: 1rem auto 0;
          max-width: 259px;

        }
      }

      .wrapper__middle {
        margin-top: -1.75rem;

        p {
          font-size: 14px;
          color: $button-gray;
          letter-spacing: 0.4px;
          text-align: center;
        }
      }

      .button {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        padding: 1rem 4rem;
        border-radius: 3px;
        font-size: 14px;
        text-align: center;
        transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &.uport {
          background-color: $button-gray;

          svg {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
          }

          &:hover {
            background-color: darken($button-gray, 10%);
          }
        }

        &.email {
          background-color: $mint-green;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);

          &:hover {
            background-color: darken($mint-green, 10%);
          }
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 66.666%;
    background-image: radial-gradient(50% 120%, #415365 50%, #1E2A36 100%);
    position: relative;

    .back--button {
      align-self: flex-start;
      position: absolute;
      top: 0;
      left: 1rem;
      padding: 3rem;
      transition: all .33s ease-in;

      &:hover {
        left: 0;
      }

      &:hover * {
        stroke: lighten($passive-gray, 10%);
      }

    }

    .copyright p {
      font-size: 11px;
      color: #606E7B;
      letter-spacing: 0;
      text-align: center;
      position: absolute;
      bottom: 5px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
    }
  }

  .section--partners {
    width: 33.3333%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

    .section__intro {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #E9EBED;
      z-index: 5;
      height: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;

      &:before {
        background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.00) 0%, #E9EBED 90%);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -100%;
        z-index: 6;
      }

      &:after {
        background-image: linear-gradient(-180deg, #E9EBED 0%, rgba(255, 255, 255, 0.00) 90%);
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100%;
        z-index: 6;
      }

      p {
        padding: 0 2rem;
        margin-bottom: 2rem;
      }
    }

    .container,
    .col {
      padding: 0;
    }

    .row {
      margin: 0;
    }

    .text-link {
      text-decoration: none;
      font-size: 14px;
      color: $mint-green;
      letter-spacing: 0;
      text-align: right;
      line-height: 22px;
      transition: color .25s ease-in-out;

      &:first-of-type {
        margin-right: 8px;
      }

      &:last-of-type {
        margin-left: 8px;
      }

      &:hover {
        color: darken($color: $mint-green, $amount: 10%)
      }
    }

    .partner--logos {
      text-align: center;
      margin: 0 -0.75rem;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;

      @include bp(m) {
        overflow: hidden;
        position: relative;
        margin: 0;

        .cssanimations & {
          height: 40vw;
          @include box-fade(both, #fdfdfd, 50px);
        }
      }

      @include bp(l) {
        .cssanimations & {
          height: 500px;
        }
      }
    }

    .partner--logos__sheet {
      z-index: 0 !important;

      .no-cssanimations & {
        &:last-of-type {
          display: none !important;
        }
      }

      @include bp(s-max) {
        &:last-of-type {
          display: none !important;
        }
      }

      @include bp(m) {
        animation: slide-left 20s infinite linear;
        z-index: 0;

        &:first-of-type {
          animation: slide-right 20s infinite linear;
        }

        &:last-of-type {
          display: block;
        }
      }
    }

    .partner--logos__row {
      display: inline;
      padding: 0.5rem 0;

      @include bp(m) {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        width: 45vw;

        &:last-of-type {
          justify-content: space-around;
        }
      }
    }

    .partner--logos__logo {
      display: inline-block;
      max-width: 49%;
      padding: 0.5rem;
      vertical-align: middle;

      @include bp(s) {
        max-width: 32%;
        min-width: 132px;
      }

      @include bp(m) {
        max-width: unset;
        padding: 0;
        min-width: 132px;
        margin: 0 2rem;
      }

      img {
        width: 100%;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}

.section--email,
.section--uport {
  .section--login__main-wrapper {
    width: 100%;
  }

  .section--login__main-content__button-wrapper {
    justify-content: center;

    form {
      width: 276px;

      .svg--backdrop {
        background: white;
        height: 30px;
        width: 30px;
        display: block;
      }
    }

    input[type="email"],
    input[type="password"] {
      margin-bottom: 1rem;
      background: transparent;
      border: 1px solid $passive-gray;
      background-repeat: no-repeat;
      background-position: -1px -1px;
      padding-left: 50px;
      font-size: 16px;
      color: $passive-gray;
      letter-spacing: 0;
      position: relative;
      height: 46px;

      filter: brightness(0.8);

      &::placeholder {
        transition: opacity .25s ease-in;
        opacity: 1;
        color: $passive-gray;
      }

      &:active,
      &:focus {
        border: 1px solid #fff;
        color: #fff;
        filter: brightness(1);

        &::placeholder {
          opacity: 0;
        }
      }

      &.email {
        background-image: url('/images/account.svg');

      }

      &.password {
        background-image: url('/images/password.svg');

      }
    }

    input[type="submit"] {
      display: inline-block;
      color: $white;
      line-height: 1;
      font-size: rem-calc(15);
      font-weight: $font-weight-bold;
      padding: 1rem 3rem;
      text-align: center;
      font-family: $font;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      background-color: $mint-green;
      border: 3px solid transparent;
      border-radius: 3px;
      transition: 0.3s ease-in-out;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:hover {
        background-color: darken($color: $mint-green, $amount: 10%)
      }
    }
  }
}