// Base
// ------------------------
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
	font: 100%/1.5 $font;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: $primary;
    min-width: $min-width;
    overflow-x: hidden;
}
